<mat-form-field appearance="fill">
  <mat-label>Select country</mat-label>
  <mat-select [formControl]="countryControl" (selectionChange)="getCountrySummary($event.value)" required>
    <mat-option>--</mat-option>
    <mat-option *ngFor="let country of countries" [value]="country.Slug">
      {{country.Country}}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="countryControl.hasError('required')">Please choose a country</mat-error>
  <mat-hint>{{countryControl.value?.sound}}</mat-hint>
</mat-form-field>

<!-- <div> -->

  <!-- <ngx-charts-pie-grid
    [results]="test" >
  </ngx-charts-pie-grid> -->
  <ngx-charts-advanced-pie-chart
    [view]="view"
    [scheme]="colorScheme"
    [results]="test"
    [gradient]="gradient"
    [label]="'Total Cases: ' + selectedCountry | titlecase"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
    >
  </ngx-charts-advanced-pie-chart>
<!-- </div> -->

<div>
</div>

