
<form [formGroup]="loginForm" (ngSubmit)="login()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2>Login</h2>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field appearance="outline" class="login-form-field">
        <mat-label>
          <mat-icon matPrefix>face</mat-icon>
          Enter your username
        </mat-label>
        <input matInput formControlName="username" />
        <mat-hint>* required</mat-hint>
        <mat-error *ngIf="submitted && form.username.errors">
          Username is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <br/>
      <mat-form-field appearance="outline" class="login-form-field">
        <mat-label>
          <mat-icon matPrefix>lock</mat-icon>
          Enter your password
        </mat-label>
        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" />
        <mat-icon matSuffix (click)="hide = !hide">
          {{ hide ? 'visibility' : 'visibility_off' }}
        </mat-icon>
        <mat-hint>* required</mat-hint>
        <mat-error *ngIf="submitted && form.password.errors">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div align="right">
        <button mat-raised-button
          type="submit"
          color="accent"
          [disabled]="loading"
          align="right">
            Login
            <!-- [disabled]="loading || !(f.username.value && f.password.value)" -->
        </button>
      </div>
    </mat-card-content>

    <mat-card-footer>
      <mat-card-subtitle align="center">
          Not a user yet? Please
          <a [routerLink]="['/auth/register']">Register here</a>
      </mat-card-subtitle>
    </mat-card-footer>
  </mat-card>
</form>
