<div
  fxLayout="row"
  fxFill
  fxLayoutAlign="space-around center"
  >
  <div fxFlex="90%">
    <mat-card color="primary">
      <mat-card-title>
        <h2>Login</h2>
      </mat-card-title>

      <mat-card-content>
        <mat-form-field>
          <p>Login</p>
        </mat-form-field>

      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- <div fxLayout fxLayoutAlign="center center">
    <mat-card fxFlex="90%">
        <mat-card-title>Login</mat-card-title>

        <mat-card-content fxLayout="column">
            <mat-form-field>
                <input matInput placeholder="Username">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Password">
            </mat-form-field>
        </mat-card-content>

        <button mat-raised-button color="accent">Login</button>
    </mat-card>
</div> -->
